<div class="container"> 
    <h1>
        <%= title %>
    </h1>
    <div class="row">
        <div class="col">
        

        <a href="/contact/add" id="addButton" class="btn btn-primary mb-1"><i class="fas fa-plus-circle"></i> Add Contact</a>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Contact Name</th>
                        <th scope="col">Contact Address</th>
                        <th scope="col">Email Address</th>
                        <th></th>
                <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let count=0; count < contact.length; count++ ) {%>
                        <tr>
                            <th scope="row">
                                <%= count +1 %>
                            </th>
                            <td>
                                <%= contact[count].contactName %>
                            </td>
                            <td>
                                <%= contact[count].contactNumber %>
                            </td>
                            <td>
                                <%= contact[count].emailAddress %>
                            </td>
                             <td class="text-center"><a href="/contact/edit/<%= contact[count]._id %>" class="btn btn-primary btn-sm edit"><i class="fas fa-edit fa-sm"></i> Edit</a></td>
                <td class="text-center"><a href="/contact/delete/<%= contact[count]._id %>" class="btn btn-danger btn-sm delete"><i class="fas fa-trash-alt fa-sm"></i> Delete</a></td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>